DATABASE_URL=postgresql://user:password@ep-xxx.us-east-2.aws.neon.tech/dbname?sslmode=require
PLAID_CLIENT_ID=6a26e8a847ea6f000d7b46e5
PLAID_SECRET=ba57a4b8816b6c752cd8eaf6cd51a0
PLAID_ENV=sandbox
PLAID_PRODUCTS=transactions
PLAID_COUNTRY_CODES=US
